.DS_Store
node_modules
/dist

# testing
/coverage*
/combined-coverage
.nyc_output/out.json
.nyc_output/
cypress/screenshots
/cypress/videos
reports

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?